<link rel="preload" href="{{ site.baseurl }}public/css/syntax.css" as="style" onload="this.onload=null; this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{ site.baseurl }}public/css/syntax.css"></noscript>

<link rel="shortcut icon" href="{{ site.baseurl }}public/favicon.ico" as="shortcut icon" onload="this.onload=null; this.rel='shortcut icon'">
<noscript><link rel="alternate" href="{{ site.baseurl }}public/favicon.ico"></noscript>

<link rel="alternate" href="{{ site.baseurl }}atom.xml">
